.boxes {
    display: flex;
    width: 100%;
}

.progress {
    border: 1px solid gray;
    border-right: none ;
    position: relative;
}

.progress-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    opacity: .5;
    transform-origin: center left;
    transform: scaleX(0);
    transition: transform 400ms ease-in-out;
}

.box {
height: 40px;
border-right:  1px solid gray;
flex: 1;
}
